<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SpaceMonkeys"
            connectionString="Data Source=ALBERTO-PC\SQLEXPRESS;Initial Catalog=SecureCore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="CategoriaUsuarisEntities1" connectionString="metadata=res://*/CategoriesUsuaris.csdl|res://*/CategoriesUsuaris.ssdl|res://*/CategoriesUsuaris.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBERTO-PC\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SecureCoreEntities" connectionString="metadata=res://*/SecureCoreModel.csdl|res://*/SecureCoreModel.ssdl|res://*/SecureCoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBERTO-PC\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Entities" connectionString="metadata=res://*/UsuarisORM.csdl|res://*/UsuarisORM.ssdl|res://*/UsuarisORM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALBERTO-PC\SQLEXPRESS;initial catalog=SecureCore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

