<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nominas"
            connectionString="Data Source=tcp:10.12.12.9,49172;Initial Catalog=Nominas;User ID=sa;Password=nominasdb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>